body {
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
}

.formulario-con-borde {
    width: 80%;
    margin: 30% auto;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

footer {
    background-color: #000000;
    opacity: 0.8;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}