body {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.black-button {
    background-color: #000;
    color: #fff;
}
/* Error message de registro*/
.alert-danger {
    background-color: #f8d7da; /* Red background color */
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the alert horizontally */
}

/* Success message de registro*/
.alert-success {
    background-color: #d4edda; /* Green background color */
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the alert horizontally */
}
@font-face {
    font-family: sundays;
    src: url('Sunday.ttf') format('truetype');
}

.Sunday {
    font-family: sundays;
}
