<!-- Footer Start -->
<footer>
    <div class="container-fluid bg-dark text-white py-4 px-sm-2 px-md-4">
        <div class="row pt-4">
            <div class="col-lg-4 col-md-12 mb-4">
                <h1 class="mb-2 display-5 text-capitalize text-white">
                    <style>
                        .logo-with-shadow {
                            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus preferencias */
                        }

                    </style>
                    <a href="index.html" class="nav-item nav-link">
                        <img src="/imagenes/CORIA.png" alt="Coria Logo" width="250px" height="80px" class="logo-with-shadow">
                    </a>

                </h1>
                <p class="m-0 text-sm">
                    "Con mas de 20 años de experiencia, nos destacamos por nuestro compromiso y responsabilidad en
                    ofrecer soluciones integrales para propietarios de viviendas y empresas.<br> Simplificamos la 
                    búsqueda de profesionales capaces de abordar todas las necesidades de reparación y mantenimiento
                    de manera completa y eficiente.<br> Nuestra empresa se enorgullece de brindar servicios profesionales
                    que facilitan la vida de nuestros clientes, garantizando un enfoque integral y confiable en cada proyecto."
                </p>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <h5 class="text-primary mb-3">Contacto</h5>
                <p class="text-sm">
                    <i class="fa fa-map-marker-alt mr-2"></i>
                    Besares 1079, Chacras de Coria, Mendoza Argentina
                </p>
                <p class="text-sm"><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p class="text-sm"><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                <p class="text-sm"><i class="fa fa-envelope mr-2"></i>Ubicanos en google maps!</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1673.4343328926523!2d-68.87751967210865!3d-32.98086663617352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0af3d8d3c519%3A0x467c2f44f7c38823!2sBesares%201079%2C%20Chacras%20de%20Coria%2C%20Mendoza!5e0!3m2!1ses!2sar!4v1700607827267!5m2!1ses!2sar" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-4 col-md-12 text-center"><!-- Alinea el contenido al centro -->
                <h5 class="text-primary mb-3">Redes Sociales</h5>
                <div class="d-flex justify-content-center"><!-- Centra las imágenes -->
                    <!-- Ajusta el tamaño de las imágenes y verifica las rutas -->
                    <a href="#" target="_blank" class="social-icon mx-2"><img src="/imagenes/facebook.png" alt="Facebook" width="70px" height="70px"></a>
                    <a href="#" target="_blank" class="social-icon mx-2"><img src="/imagenes/twiter.png" alt="Twitter" width="70px" height="70px"></a>
                    <a href="#" target="_blank" class="social-icon mx-2"><img src="/imagenes/instagram.png" alt="Instagram" width="70px" height="70px"></a>
                    <a href="#" target="_blank" class="social-icon mx-2"><img src="/imagenes/whatsapp.png" alt="whatsapp" width="70px" height="70px"></a>
                    <!-- Agrega más iconos según sea necesario -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-white py-3 px-sm-2 px-md-4" style="background: #111111;">
        <div class="row text-center"> <!-- Utiliza la clase text-center para centrar el contenido -->
            <p class="m-0 text-sm">
                <span class="text-white">&copy;</span>
                <a class="text-white font-weight-bold" href="#" style="text-decoration: none;">2023 Coria Servicios</a>.
                Todos los derechos reservados.
            </p>
        </div>
    </div>

    <!-- Footer End -->
</footer>
