<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">

        <a th:href="@{/}" class="nav-item nav-link"><img src="/imagenes/CORIA.png" alt="300px" width="200 px" height="60 px"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}">Inicia Seccion</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/registrar}">Registro Usuario</a>
                        <a class="dropdown-item" th:href="@{/registrarP}">Registro Proveedor</a>
                    </div>
                </li>

               


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
