<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Olvidé mi contraseña</title>
        <link th:replace="/fragments/Boostrap-Icono :: link"></link>

        <!-- Tus estilos personalizados u hojas de estilo adicionales -->
        <link href="/login.css" rel="stylesheet" type="text/css"/>
        
        
    </head>
    <body>
        <!-- FRAGMENTS DEL NAVBAR -->
        <nav th:replace="/fragments/navbarVisitante :: nav"></nav>
        <br>
        <h1>¿Olvidaste tu contraseña?</h1>
        <form th:action="@{/forgot-password}" method="post">
            <label for="email">Ingresa tu correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Enviar solicitud">
        </form>
        
        <br><br><br><br><br><br><br><br><br><br><br><br>

        <!-- -------------------------------------------------------------- -->
        <!-- Alerta de Error -->
        <div th:if="${error}" class="alert alert-danger text-center">
            <p th:text="${error}" class="text-large">Mensaje de error personalizado</p>
        </div>
        <!-- Alerta de Éxito -->
        <div th:if="${mensaje}" class="alert alert-success text-center">
            <p th:text="${mensaje}" class="text-large">Mensaje de éxito personalizado</p>
        </div>

        <!-- FRAGMENTS DEL FOOTER -->
        <div th:replace="/fragments/footer :: div"></div>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Otras dependencias y estilos -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Otros scripts -->
    </body>
</html>
